img{  display:block;  }

a{  text-decoration:none;   }

ul{  list-style:none;  margin:0;  padding:0;  }

section{background: #1E293B; width: 100vw;}
.title{ text-align: center; padding: 25px 0px;}
.title > h2 {color:#E2E8F0; font-size: 2rem; font-weight: 700; line-height: 1.5rem; margin-bottom: 8px;}
.title > span{color:#CBD5E1; font-size: 1.5rem;}

#main_header{  width:100%;  height:50px; line-height: 30px;  background:rgba(0, 0, 0, 0.5); position: fixed; z-index: 100000;}
#main_header > .inner_container {margin: 0 15px; height: 50px; display: flex; align-items: center;}
#main_header > .inner_container > h1{width: 120px; }
#main_header > .inner_container > nav{display: none;}


.main_banner{background: linear-gradient(#7F9EB2, #1E293B); padding-top: 50px;}
.main_banner > .banner_wrap{margin: 0px 15px auto;}
.main_banner > .banner_wrap > .banner_icons {width: 180px; margin: 0 auto;}
.main_banner > .banner_wrap > .banner_icons > ul{display: flex; justify-content: space-between; width: 180px;}
.main_banner > .banner_wrap > .banner_icons > img { margin: 0 auto; padding-top: 30px;}

#intro > .intro-contents{margin: 0px 15px;}
#intro > .intro-contents > .dlc-item{display: flex;}
#intro > .intro-contents > .second-item{display: flex; flex: 1 1 0; gap: 10px; padding: 10px 0px;}
#intro > .intro-contents > .second-item > li {width: 100px; height: 100px; background: #000;}
#intro > .intro-contents > .second-item > li > a{}


#universe > .enemy-container {margin-top: 50px; height: 360px;}
#universe > .enemy-container > div{position:absolute;}
#universe > .enemy-container > div > img{ max-width: 160px; max-height: 360px;}
#universe > .text-wrap{display: flex; flex-direction: column; gap: 15px;}
#universe > .text-wrap > p{color: #CBD5E1; text-align: center; font-size: 1rem; font-weight: 500;}
#universe > .text-wrap > p > strong{color: #7F9EB2;}



.witch{ left: 50%; transform: translateX(-50%); top: 100px; }
.dulahan{left: 80%; transform: translateX(-80%) scale(-1, 1); top: 70px; }
.joker{left: 30%; transform: translateX(-30%); top: 90px;}
.joker>img{height: 220px;}
.twin2{left: 90%; transform: translateX(-90%); top: 70px;}
.twin2>img{height: 240px;}
.twin1{left: 5%; transform: translateX(-5%); top: 150px;}
.twin1>img{height: 140px;}
.death{width: 100%; top: -50px}
.death>img{width: 100%; max-height: 100% !important; max-width: 100% !important; margin: 0 auto;} 

#character-card{max-height: 760px;}
#character-card > .wrap{margin: 0px 15px;}
#character-card > .wrap > .chr_wrap {position: relative;}
#black-bg {position:absolute; width: 100vw; height: 100vh; background: #000; opacity: 0.5; z-index: 2;}

#character-card .title{position: relative; z-index: 2;}
#character-card .text-wrap {position: absolute; z-index: 101; bottom: 0; background: #000; height: 240px;}
#character-card .text-wrap > div{color: #fff;}
#character-card .text-wrap > div > p{font-size: 0.75rem;}

.tab-item{position: relative; height: 594px;}
.tabs{  overflow: hidden;  max-height: 84px; position: relative; z-index: 10;}
.chr_view{position: relative;}
.chr_view>img{margin:0 30px auto; position: relative; z-index: 100; top: 40px;}
.bg{position: absolute; top: 0; z-index: 3;}
.label-wrap{position: absolute; top: 75px; height: 60px; width: 90%; line-height: 60px;}
.label-wrap > strong{font-size: 2.75rem; float: right; margin-right: 10px; color: #fff; position: relative; z-index: 5;}

.spin{
    animation: spin 15s linear infinite; animation-play-state: running;
  }
  .paused{
    animation: spin 15s linear infinite;; animation-play-state: paused;
  }
  
  @keyframes spin {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
  }