
img{  display:block;  }

a{  text-decoration:none;   }

ul{  list-style:none;  margin:0;  padding:0;  }

section{background: #1E293B; width: 100vw; padding-top: 100px;}
.title{ text-align: center; padding: 25px 0px;}
.title > h2 {color:#E2E8F0; font-size: 2rem; font-weight: 700; line-height: 1.5rem; margin-bottom: 8px;}
.title > span{color:#CBD5E1; font-size: 1.5rem;}

#main_header{  width:100%;  height:50px; line-height: 30px;  background:rgba(0, 0, 0, 0.5); position: fixed; z-index: 100000;}
#main_header > .inner_container {margin: 0 15px; height: 50px; display: flex; align-items: center; justify-content: space-between;}
#main_header > .inner_container > h1{width: 120px; }
#main_header > .inner_container > nav{display: none;}
#main_header > .inner_container > .toggle_btn{ width: 30px; height: 20px; display: flex; flex-direction: column; gap: 7px; position: relative; z-index: 100005;} 
#main_header > .inner_container > .toggle_btn span{display: block; width: 30px; height: 2px; background: #fff; position: relative;  z-index: 100010;  transition: all 0.3s ease;}
.toggle_btn.open span:nth-child(1) {  transform: rotate(45deg);  position: relative;  top: 7px;}
.toggle_btn.open span:nth-child(2) {  opacity: 0;}
.toggle_btn.open span:nth-child(3) {  transform: rotate(-45deg);  position: relative;  top: -10px;}

#modal-wrap {position: fixed; width: 100vw; height: 100vh; background: #000; opacity: 0.8; z-index: 99999;}
#modal-wrap > nav{width: 100%; height: 100%;}
#modal-wrap > nav > ul{width: 100%; height: 100%; display: flex; flex-direction: column; gap: 20px; justify-content: center;}
#modal-wrap > nav > ul > li{height: 50px; text-align: center;}
#modal-wrap > nav > ul > li > a{font-size: 2rem; color: #fff; font-weight: 700; opacity: 1;}


.main_banner{background: linear-gradient(#7F9EB2, #1E293B); padding-top: 50px;}
.main_banner > .banner_wrap{margin: 0px 15px auto;}
.main_banner > .banner_wrap > .banner_icons {width: 180px; margin: 0 auto;}
.main_banner > .banner_wrap > .banner_icons > ul{display: flex; justify-content: space-between; width: 180px;}
.main_banner > .banner_wrap > .banner_icons > img { margin: 0 auto; padding-top: 30px;}

#intro > .intro-contents{margin: 0px 15px; display: flex; flex-direction: column;}
#intro > .intro-contents > .dlc-item{display: flex;}
#intro > .intro-contents > .dlc-item > img {width: 50%;}
#intro > .intro-contents > .second-item{display: flex; flex: 1 1 0; flex-flow: row; gap: 10px; padding: 10px 0px;  justify-content: space-between;}
#intro > .intro-contents > .second-item > li {width: 30%; min-height: 100px; background: #000; display: flex; align-items: center;}
#intro > .intro-contents > .second-item > li > a{color: #fff; text-align: center; font-size: 1.2rem; width: 100%; min-width: 0px; padding: 12px;}

#universe > .contents-wrap > .enemy-container {margin-top: 50px; height: 360px;}
#universe > .contents-wrap > .enemy-container > div{position:absolute;}
#universe > .contents-wrap > .enemy-container > div > img{ max-width: 160px; max-height: 360px;}
#universe > .contents-wrap > .text-wrap{display: flex; flex-direction: column; gap: 15px;}
#universe > .contents-wrap > .text-wrap > p{color: #CBD5E1; text-align: center; font-size: 1rem; font-weight: 500;}
#universe > .contents-wrap > .text-wrap > p > strong{color: #7F9EB2;}



.witch{ left: 50%; transform: translateX(-50%); top: 100px; }
.dulahan{left: 80%; transform: translateX(-80%) scale(-1, 1); top: 70px; }
.joker{left: 30%; transform: translateX(-30%); top: 90px;}
.joker>img{height: 220px;}
.twin2{left: 90%; transform: translateX(-90%); top: 70px;}
.twin2>img{height: 240px;}
.twin1{left: 5%; transform: translateX(-5%); top: 150px;}
.twin1>img{height: 140px;}
.death{width: 100%; top: -50px}
.death>img{width: 100%; max-height: 100% !important; max-width: 70% !important; margin: 0 auto;} 

#character-card{max-height: 760px; position: relative;}
#character-card > .chr_wrap {position: relative; width: 100vw;}
#black-bg {position:absolute; width: 100vw; height: 100vh; background: #000; opacity: 0.5; z-index: 2;}

#character-card .title{position: relative; z-index: 2;}
#character-card .text-wrap {position: absolute; z-index: 101; bottom: 0; background: #000; height: 240px;}
#character-card .text-wrap > div{color: #fff;}
#character-card .text-wrap > div > p{font-size: 0.75rem;}

#character-card .chr_wrap .tab-item{position: relative; height: 594px;}
#character-card .chr_wrap .tabs{  overflow: hidden;  max-height: 84px; position: relative; z-index: 10;}
#character-card .chr_wrap .chr_view{position: relative;}
#character-card .chr_wrap .chr_view > .img-wrap{position: relative; width: 50%; height: 100%; min-width: 300px; max-height: 500px; z-index: 100; left: 30%; transform: translateX(-50%); overflow: hidden;}
#character-card .chr_wrap .chr_view > .img-wrap > img{position: relative; z-index: 100; top: 40px;}
#character-card .chr_wrap .bg{position: absolute; top: 0; z-index: 3;}
#character-card .chr_wrap .label-wrap{position: absolute; top: 20px; height: 60px; width: 100%; line-height: 60px;}
#character-card .chr_wrap .label-wrap > strong{font-size: 2.25rem; float: right; margin-right: 10px; color: #fff; position: relative; z-index: 5;}
#character-card .text-wrap .skill{display: none;}

    .mySwiper{width: 100%!important;}
    #introduction .text-wrap{width: 90%;}
    #introduction .bg-wrap{max-height: 760px}
    #introduction strong{font-size: 1.5rem !important;}
    #introduction p{font-size: 1rem !important; width: 100%;}

#sound-content > .track-wrap{  width: 100vw; height: 100vh;}
#sound-content >.track-wrap::before {  content: '';  position: absolute;  background: rgba(0, 0, 0, 0.4);z-index: 0; width: 100%; height: 100%;}
#sound-content >.track-wrap .play-wrap {  position: relative;  z-index: 1;}

#sound-content > .track-wrap > .title{padding-top: 120px; position: relative; z-index: 1;}

#sound-content > .track-wrap .btn-wrap{
  position: absolute; left: 50%; top: 50%; z-index: 11; transform: translate(-50%,-50%); color:#E2E8F0; opacity: 0.5;
  display: flex; align-items: center; gap: 20px;
}



#sound-content .track-active {  position: relative;  width: 360px;  height: 360px;  margin: 0 auto;}

#sound-content .track-active .img-wrap{width: 250px; height: 250px;}
#sound-content .track-active .img-wrap,
#sound-content .track-active .ep {  position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);}

#sound-content .track-active img {  width: 250px;  height: 250px; z-index: 1;}

#sound-content .track-active .ep {  width: 180px;  height: 180px; z-index: 2;}


.ep-progress {  position: absolute;  top: 50%;  left: 50%;  width: 180px;  height: 180px;  transform: translate(-50%, -50%);  z-index: 5;}

.ep-progress svg {  position: absolute;  top: 0;  left: 0;  transform: rotate(-90deg); z-index: 15;}

.ep-progress .ep {  width: 60px;  height: 60px;  position: relative;  display: block; z-index: 2;  border-radius: 50%;}

.progress-ring {  transition: stroke-dashoffset 0.3s linear;}


  .spin{
    animation: spin 15s linear infinite; animation-play-state: running;
  }
  .paused{
    animation: spin 15s linear infinite;; animation-play-state: paused;
  }
  
  @keyframes spin {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
  }

  @media (min-width:769px ) {
    body{overflow-x: hidden;}
    .title{ text-align: center;}


    #main_header{  width:100%;  height:60px; line-height: 0px;}
    #main_header > .inner_container {max-width: 1320px; margin: 0 auto; height: 60px;}
    #main_header > .inner_container > h1{width: 200px;}
    #main_header > .inner_container > nav{display: block; }
    #main_header > .inner_container > nav > ul {display: flex; align-items: center; gap: 25px; color: #fff;} 
    #main_header > .inner_container > .main_navbar{margin-right: auto; margin-left: 50px;}
    #main_header > .inner_container > .toggle_btn{display: none;} 

    .main_banner{padding-top: 60px;  overflow: hidden;}
    .main_banner > .banner_wrap{max-width: 1320px; margin: 0 auto;  z-index: 2;}
    .main_banner > .banner_wrap > img{margin: 0 auto; width: 70%;}
    .main_banner > .banner_wrap > .banner_icons {display: none;}
    
    #intro > .intro-contents{max-width: 1320px; margin: 0 auto; padding: 0px 15px; display: flex; flex-flow: row wrap; justify-content: space-between;}
    #intro > .intro-contents > .first-item{width: 50%; max-height: 530px;}
    #intro > .intro-contents > .first-item > img{height: 100%;}
    #intro > .intro-contents > .dlc-item{display: flex; width: 49%; max-height: 530px; flex-direction: column; justify-content: space-between;}
    #intro > .intro-contents > .dlc-item > img{height: 50%; width: 640px;}
    #intro > .intro-contents > .second-item{flex: 1 1 0; max-width: 1320px; width: 100%;  justify-content: space-between; gap: 80px; padding: 30px 5%;}
    #intro > .intro-contents > .second-item > li {width: 30%; max-height: 100px; border-radius: 15px; max-width: 250px;}
    #intro > .intro-contents > .second-item > li > a{display: block;color: #fff; text-align: center; font-size: 2.75rem; width: 100%; min-width: 220px; padding: 12px;}

    #universe{height: 100vh;}
    #universe > .contents-wrap { display: flex; margin-left: 15%; flex-direction: row-reverse; align-items: center; margin-top: 150px;}
    #universe > .contents-wrap > .enemy-container >{width: 60%;}
    #universe > .contents-wrap > .enemy-container > div > img{ max-width: 400px; max-height: 360px;}
    #universe > .contents-wrap > .text-wrap{width: 40%; display: flex; flex-direction: column; gap: 15px;}
    #universe > .contents-wrap > .text-wrap > p{color: #CBD5E1; text-align: left; font-size: 1.5rem; font-weight: 500;}

    .witch{ left: 50%; transform: translateX(-50%); top: 100px; }
    .dulahan{left: 70%; transform: translateX(-80%) scale(-1, 1); top: 70px; }
    .joker{left: 30%; transform: translateX(-25%); top: 90px;}
    .joker>img{height: 360px;}
    .twin2{left: 80%; transform: translateX(-90%); top: 70px;}
    .twin2>img{height: 360px;}
    .twin1{left: 15%; transform: translateX(-5%); top: 150px;}
    .twin1>img{height: 240px;}
    .death{width: 100%; top: -160px}
    .death>img{width: 60%; max-height: 50% !important; max-width: 100% !important; margin: 0 auto;} 

    #character-card{max-height: 100vh; overflow: hidden; position: relative;}
    #character-card > .title{padding: 50px 0;}
    #character-card .chr_wrap{display: flex; align-content: center; height: 760px;}
    #character-card .chr_wrap .tab-item{display: flex;  height: 100%; margin: 0 auto; position: static;}
    #character-card .chr_wrap .tab-item > .chr_view {position: relative; width: 50%;}
    #character-card .chr_wrap .tab-item > .text-wrap {position: static; width: 40%;}
    
    #character-card .chr_wrap .text-wrap{background: none; height: auto; display: flex; flex-flow: column; gap: 30px;}
    #character-card .chr_wrap .text-wrap > div > p{font-size: 1.25rem;}
    #character-card .chr_wrap .text-wrap > .skill{display: flex; flex-flow: row wrap; gap: 5px;}
    #character-card .chr_wrap .text-wrap > .skill > img{width: 30%;}
    
    #character-card .chr_wrap .tabs{ gap: 40px; max-height: none; position: static; flex-direction: column; align-items: center; order: 3; width: 10%; height: 100%;}
    #character-card .chr_wrap .tabs > li > img{scale: 1.25;}
    #character-card .chr_wrap .react-tabs__tab-panel--selected{width: 90%;}

    #character-card .chr_wrap .chr_view > .img-wrap{position: relative; width: 50%; height: 100%; min-width: 500px; max-height: 700px; z-index: 100; left: 40%; transform: translateX(-50%);}
    #character-card .chr_wrap .chr_view > .img-wrap > img{position: static; width: 100%; height: 100%; object-fit: contain; flex: 1 1 0;}
    #character-card .chr_wrap .bg{position: absolute; top: 0; left: 0px; width: 500px;}
    #character-card .chr_wrap .bg>img{width: 100%;}
    #character-card .chr_wrap .label-wrap{height: 120px; line-height: 120px; width: 80%; top: 35px;}

    #introductuon{width: 100vw; height: 100vh;}

    #sound-content .track-active{scale: 1.5; margin-top: 5%;}

  }